# Heroes of Pymolli Challenge

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

#variable for file name
filename = 'Resources/purchase_data.csv'

#Create data frame from csv file
data = pd.read_csv(filename)
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [2]:
#Create data frame
player_count = len(data['SN'].value_counts())
player_count_df = pd.DataFrame({'Total Players': [player_count]})

#Show data frame
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#Create data frame
purchasing_analysis = pd.DataFrame({
    'Number of Unique Items': [data['Item ID'].value_counts().count()],
    'Average Purchase Price': [data['Price'].mean()],
    'Total Number of Purchases': [data['Purchase ID'].count()],
    'Total Revenue': [data['Price'].sum()]
})

#Format columns
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)

#Show data frame
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

In [4]:
#Count genders
male_count = len(data.loc[(data['Gender'] == 'Male')]['SN'].value_counts())
female_count = len(data.loc[(data['Gender'] == 'Female')]['SN'].value_counts())
other_count = len(data.loc[(data['Gender'] == 'Other / Non-Disclosed')]['SN'].value_counts())

#Create data frame
gender_df = pd.DataFrame({
    '': ['Male', 'Female', 'Other / Non-Disclosed'],
    'Total Count': [male_count, female_count, other_count],
    'Percentage of Players': [(100 * male_count / player_count), (100 * female_count / player_count), (100 * other_count / player_count)]
})
gender_df = gender_df.set_index('')

#Format column
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:.2f}%'.format)

#Show data frame
gender_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)