# Heroes of Pymolli Challenge

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

#variable for file name
filename = 'Resources/purchase_data.csv'

#Create data frame from csv file
data = pd.read_csv(filename)
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [2]:
#Create data frame
player_count = len(data['SN'].value_counts())
player_count_df = pd.DataFrame({'Total Players': [player_count]})

#Show data frame
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#Create data frame
purchasing_analysis = pd.DataFrame({
    'Number of Unique Items': [data['Item ID'].value_counts().count()],
    'Average Purchase Price': [data['Price'].mean()],
    'Total Number of Purchases': [data['Purchase ID'].count()],
    'Total Revenue': [data['Price'].sum()]
})

#Format columns
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)

#Show data frame
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

In [4]:
#Count gender
gender_unique = data.groupby('Gender')['SN'].nunique()

#Create data frame
gender_df = pd.DataFrame({
    'Total Count': gender_unique,
    'Percentage of Players': gender_unique * 100 / player_count
})

#Format column
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:.2f}%'.format)

#Show data frame
gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [5]:
#Gender count
gender_count = data.groupby('Gender')

#Create data frame
purchase_analysis_gender = pd.DataFrame({
    'Purchase Count': gender_count['Gender'].count(),
    'Average Purchase Price': gender_count['Price'].mean(),
    'Total Purchase Value': gender_count['Price'].sum(),
    'Avg Purchase per Person': gender_count['Price'].sum() / gender_unique
})

#Format columns
purchase_analysis_gender['Average Purchase Price'] = purchase_analysis_gender['Average Purchase Price'].map('${:.2f}'.format)
purchase_analysis_gender['Total Purchase Value'] = purchase_analysis_gender['Total Purchase Value'].map('${:.2f}'.format)
purchase_analysis_gender['Avg Purchase per Person'] = purchase_analysis_gender['Avg Purchase per Person'].map('${:.2f}'.format)

#Show data frame
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Pruchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [9]:
#Create bins
bins = [0, 9, 14,  19, 24, 29, 34, 39, 100]
value_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Copy data to new df
binned_age = data

#Create binned df
binned_age['Age Ranges'] = pd.cut(data['Age'], bins , labels = value_labels)

#Pull unique values on series
age_unique = binned_age.groupby('Age Ranges')['SN'].nunique()

#Create results df
age_df = pd.DataFrame( {
    'Total Count': age_unique,
    'Percentage of Players': 100 * age_unique / player_count
})

#Format column
age_df['Percentage of Players'] = age_df['Percentage of Players'].map('{:.2f}%'.format)

#Show results
age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

In [10]:
#Age count
age_count = data.groupby('Age')

#Create data frame
purchase_analysis_age = pd.DataFrame({
    'Purchase Count': age_count['Age'].count(),
    'Average Purchase Price': age_count['Price'].mean(),
    'Total Purchase Value': age_count['Price'].sum(),
    'Avg Purchase per Person': age_count['Price'].sum() / age_unique
})

#Format columns
purchase_analysis_age['Average Purchase Price'] = purchase_analysis_age['Average Purchase Price'].map('${:.2f}'.format)
purchase_analysis_age['Total Purchase Value'] = purchase_analysis_age['Total Purchase Value'].map('${:.2f}'.format)
purchase_analysis_age['Avg Purchase per Person'] = purchase_analysis_age['Avg Purchase per Person'].map('${:.2f}'.format)

#Show data frame
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase per Person
7,9.0,$3.65,$32.89,$nan
8,8.0,$3.25,$25.97,$nan
9,6.0,$3.04,$18.27,$nan
10,9.0,$3.54,$31.83,$nan
11,7.0,$2.68,$18.79,$nan
12,6.0,$2.63,$15.80,$nan
13,4.0,$2.36,$9.45,$nan
14,2.0,$3.46,$6.91,$nan
15,35.0,$3.02,$105.65,$nan
16,30.0,$3.02,$90.56,$nan
17,22.0,$2.93,$64.48,$nan
18,26.0,$3.16,$82.22,$nan
19,23.0,$3.04,$69.98,$nan
20,99.0,$3.17,$314.32,$nan
21,62.0,$2.92,$180.74,$nan
22,70.0,$2.96,$206.85,$nan
23,67.0,$3.01,$201.93,$nan
24,67.0,$3.14,$210.22,$nan
25,59.0,$3.08,$181.90,$nan
26,14.0,$2.87,$40.19,$nan
27,10.0,$2.72,$27.23,$nan
28,5.0,$1.69,$8.45,$nan
29,13.0,$2.71,$35.23,$nan
30,35.0,$3.15,$110.32,$nan
31,7.0,$3.44,$24.05,$nan
32,8.0,$2.84,$22.69,$nan
33,14.0,$2.49,$34.81,$nan
34,9.0,$2.46,$22.13,$nan
35,14.0,$3.72,$52.03,$nan
36,5.0,$2.53,$12.66,$nan
37,7.0,$3.64,$25.51,$nan
38,9.0,$3.79,$34.15,$nan
39,6.0,$3.89,$23.32,$nan
40,6.0,$2.79,$16.71,$nan
41,2.0,$3.27,$6.54,$nan
42,1.0,$3.93,$3.93,$nan
43,1.0,$4.00,$4.00,$nan
44,2.0,$2.68,$5.36,$nan
45,1.0,$1.70,$1.70,$nan
10-14,NaN,$nan,$nan,$nan
15-19,NaN,$nan,$nan,$nan
20-24,NaN,$nan,$nan,$nan
25-29,NaN,$nan,$nan,$nan
30-34,NaN,$nan,$nan,$nan
35-39,NaN,$nan,$nan,$nan
40+,NaN,$nan,$nan,$nan
<10,NaN,$nan,$nan,$nan